.container {
  display: flex;
  flex-wrap: wrap;
  height: 93vh;
  width:100vw;
  gap: 15px;
  overflow:scroll;
  padding:15px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  position: relative;
  box-sizing: border-box;
  justify-content: center;
}
.scall{
 position: absolute;
 top: 0;
 right: 0;
 margin: 5px;
 z-index: 10;
 background: rgba(180, 164, 164,0.5);
 border:none;
 cursor: pointer;
}
.scall:hover{
  transform:scale(1.2);
 }
.container::-webkit-scrollbar {
  display: none;
}
.scalled{
  width: 98vw;
  height: 90vh;
}
 video {
  height: 20vmax;
  width: 35vmax;
  object-fit: cover;
  border: solid 4px #333;
  border-radius:5px;
  box-sizing: border-box;
} 
.video-container{
  position: relative;
  height: fit-content;
}
.room-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:55px;
  justify-self: flex-end;
  width:100vw;
  background: rgba(180, 164, 164,0.5);
  box-sizing: border-box;
}
.room{
  display: flex;
  justify-content:space-around;
}
.body{
  display: flex;
  flex-direction: column;
}

.log-out{
  padding: 10px;
  font-size:18px;
  background:rgb(182, 44, 44);
  color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}
.left-footer{
display: flex;
align-items: center;


}
.log-out{
  display: flex;
  justify-content:center;
  align-items: center;
}
.media-btn{
  height:55px;
  width:100px;
  background:transparent ;
  border: none;
  border-radius: 8px;
  transition:all 0.2s ease-in-out;
  cursor: pointer;
}
.media-btn:hover{
  background:#ccc;
}
.media-btn-text{ 
  font-size:0.8rem
}
.chat-window{
  position: absolute;
  width: 98vw;
  height: 95vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
.chat-wrapper{
  background: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  
}

@media only screen and (max-width: 600px) {
  .media-btn-text{ 
    display:none;
  }
  .media-btn{
    width:55px;
  }
  .scalled{
    width: 90vh;
    height: 98vw;
  }
  .rotate{
    transform: rotate(90deg) ;
    position: absolute;
    bottom:1;
    top: 18vh;
    right: 1;
    left: 1;
    z-index: 100;
  }
 
  .container{
    position: relative;
  }
  
}