.container {
  /* display: grid;
  grid-template-columns: repeat(auto-fill,500px);
  grid-template-rows: 300px; */
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  height: 100vh;
  width:84vw;
  gap: 15px;
  overflow:scroll;
  padding:15px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  border: solid 1px #ccc;
  position: relative;
}
.scall{
 position: absolute;
 top: 0;
 right: 0;
 margin: 5px;
 z-index: 10;
}
.scall:hover{
  transform:scale(1.2);
 }
.container::-webkit-scrollbar {
  display: none;
}
.scalled{
  width: 70vw;
  height: 70vh;
}
 video {
  height: 300px;
  width: 500px;
  object-fit: cover;
} 
.video-container{
  position: relative;
}
.room-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  justify-self: flex-end;
  width:100%;
  background: black;
}
.room{
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content:space-around;
  
}
.body{
  display: flex;
  flex-direction: column;
  width: 87vw;
  height: 95vh;
}
.empty{
  visibility: hidden;
}
.log-out{
  padding: 10px;
  font-size:18px;
  background:rgb(182, 44, 44);
  color: #fff;
  border-radius: 5px;
  margin-right: 20px;
}